$primary:#c29938;
$light:#fbf5e5;
@use 'sass:map';
// @import "mixins/banner";
// @include bsBanner("");
@import 'node_modules/bootstrap/scss/_functions';
@import 'node_modules/bootstrap/scss/_variables';

$custom-theme-colors:(
    'altlight':#f2ebfa,
    'altdark':#522192
);
// @use 'sass:map';
$theme-colors:map.merge($custom-theme-colors, $theme-colors);
   

@import 'node_modules/bootstrap/scss/bootstrap.scss';